.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #5FB49CB7;
}

.App > h1 {
  font-size: 3.5rem; 
  color: #DEEFB7;
}

.input__div {
  display: flex;
  flex-direction: column;
}

.input {
  width: 400px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.submit__button {
  padding: 10px;
}
