.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #caf0f8
}

.glow {
  font-size: 80px;
  color: #90e0ef;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1.2s ease-in-out infinite alternate;
  animation: glow 1.2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #5e60ce, 0 0 20px #5e60ce, 0 0 30px #0077b6, 0 0 40px #0077b6, 0 0 50px #0077b6, 0 0 60px #0077b6, 0 0 70px #0077b6;
  }
  to {
    text-shadow: 0 0 20px #5e60ce, 0 0 30px #06d6a0, 0 0 40px #06d6a0, 0 0 50px #06d6a0, 0 0 60px #06d6a0, 0 0 70px #06d6a0, 0 0 80px #ff4da6;
  }
}

/* .App > h1 {
  font-size: 3.5rem; 
  color: #0077b6;
} */

.input__div {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: #00b4d8;
  width: 400px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.submit__button {
  padding: 10px;
  background-color: #0077b6;
}

.tableHeader {
  font-size: 1.5rem;
  padding-top: 20px;
  color: #03045e;
  text-shadow: 0 0 10px #06d6a0;
}

.td {
  border-bottom: 1px solid #0077b6;

}